body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sqcontainer{
  background: rgb(233, 233, 233);
  width: fit-content;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: auto;
}
.sqheader-c{
  width: fit-content;
  margin: auto;
  margin-top: 10%;
}
.upHeader{
  margin-bottom: 10px;
}
.square {
  background: rgb(65, 127, 209);
  border: hidden;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0;
  padding-top: 10px;
  text-align: center;
  width: 60px;
  color: aliceblue;
}
.square-tlr{
  border-top-left-radius: 10px;
}
.square-trr{
  border-top-right-radius: 10px;
}
.square-blr{
  border-bottom-left-radius: 10px;
}
.square-brr{
  border-bottom-right-radius: 10px;
}
.square-empty {
  background: rgb(233, 233, 233);
  color: rgb(141, 141, 141);
  border: hidden;
}

.btn-square {
  background: rgb(233, 233, 233);
  border: hidden;
  color: rgb(141, 141, 141);
  padding-top: 0px;
}
.btn-square-curr {
  background: rgb(170, 212, 158);
  border: hidden;
  color: rgb(141, 141, 141);
  padding-top: 0px;
  border-radius: 10px;
}
.btn-square-sele {
  background: rgb(127, 173, 226);
  color: rgb(141, 141, 141);
  border: hidden;
  padding-top: 0px;
  border-radius: 10px;
}
.btn-square-sele:hover {
  background: rgb(127, 198, 226);
}
.btn-square-curr-no {
  background: rgb(193, 214, 187);
  color: rgb(141, 141, 141);
  border: hidden;
  padding-top: 0px;
  border-radius: 10px;
}
.btn-square-curr-no:hover {
  background: rgb(185, 221, 204);
}
.btn-square-curr:hover {
  background: rgb(126, 211, 178);
}

.btn-square-selected {
  background: rgb(127, 198, 226);
  border: hidden;
  padding-top: 0px;
  border-radius: 10px;
}

.btn-square:hover {
  background: rgb(127, 198, 226);
  border-radius: 10px;
}
.with-leson-s{
  color: rgb(43, 43, 43);
  border-radius: 10px;
}
.with-leson-m{
  color: rgb(11, 20, 143);
  border-radius: 10px;
}
.with-leson-l{
  color: rgb(89, 7, 156);
  border-radius: 10px;
}
.square-row:after {
  clear: both;
  content: "";
  display: table;
}

.btn-lb{
  color: aliceblue;
  background-color: rgb(41, 56, 102);
  width: 20%;
  text-align: center;
  height: 40px;
  border: hidden;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.btn-img{
  width: 20px;
  height: 20px;
}
.logo-img{
  width: 50px;
  height: 50px;
}
.btn-rb{
  color: aliceblue;
  background-color: rgb(41, 56, 102);
  width: 20%;
  text-align: center;
  height: 40px;
  border: hidden;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.slectD{
  color: aliceblue;
  background-color: rgb(68, 90, 165);
  width: 30%;
  text-align: center;
  height: 40px;
  border: hidden;
}
.selectD-content{
  background-color: aliceblue;
  color: rgb(43, 43, 43);
  border: hidden;
  border-collapse: hidden;
}

.eventt-container{
  width: 100%;
  margin-top: 5%;
}

.eventt{
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 8px;
  padding-bottom: 13px;
  
  width: 90%;
  background-color: rgb(224, 218, 218);
  border-style: hidden;
  border-radius: 5px;

}
.eventt-header{
  white-space: nowrap;
  margin-bottom: -8px;
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
  color: rgb(49, 53, 56);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}
.eventt-header button.edit{
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  background: none;
  color: rgb(124, 117, 117);
  border: hidden;

  opacity: 0.3;
  font-size: 20px;
  margin-top: -10px;
}
.eventt-header button.edit img{
  width: 20px;
  height: 20px;
}
.eventt-header button.edit:hover{
  color: rgb(37, 192, 115);
  opacity: 1.0;
  border-radius: 30px;
}

.eventt-header button.close{
  float: right;
  background: none;
  color: rgb(124, 117, 117);
  border: hidden;
  font-weight: bold;
  margin-right: 10px;
}
.eventt-header button.close:hover{
  color: rgb(192, 37, 37);
}
.eventt-author{
  white-space: nowrap;
  text-align: center;
  font-size: 22px;
  color: rgb(80, 88, 94);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}
.eventt-time{
  white-space: nowrap;
  width: auto;
  text-align: center;
  font-size: 15px;
  color: rgb(80, 88, 94);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}
.eventt-text{
  text-align: center;
  font-size: 15px;
  color: rgb(37, 45, 51);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}
.eventt-line{
  width: 80%;
  margin-left: 10%;
  margin-top: -3px;
}
.new-event{
  margin-top: 4%;
  margin-bottom: -3%;
  text-align: center;
  width: 100%;
}
.btn-event{
  width: 50px;
  height: 50px;
  color: aliceblue;
  background: rgb(68, 90, 165);
  border: hidden;
  border-radius: 30px;

}
.btn-event-empty{
  background: none;
  margin: auto;
  width: 50px;
  height: 50px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.btn-event img{
  width: 35px;
  height: 35px; 
}
.btn-event:hover{
  background: rgb(65, 127, 209);
}
.form-col{
  width: auto;
  text-align: center;
}
.form-sele{
  width: max-content;
  color: black;
  background: rgb(255, 255, 255);
  border: hidden;
  border-radius: 5px;
}
.time-sele{
  appearance: none;
  background: rgb(255, 255, 255);
  padding-left: 5px;
  padding-right: 5px;
  width: max-content;
  height: 30px;
  border-radius: 0px;
  text-align: right;
}
.sep-text{
  background: rgb(255, 255, 255);
  padding-left: 5px;
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.time-row{
  display: inline;
}
.form-BT{
  color: black;
  white-space: normal;
  width: 70%;
  height: 80px;
}
.btn-ok{
  margin-top: 40%;
  margin-right: 10px;
  color: rgb(239, 240, 197);
  width: fit-content;
  background: rgb(122, 199, 45);
  border-radius: 10px;
  border: hidden;

  font-weight: bold;
  font-size: 20px;
}
.btn-ok:hover{
  background: rgb(117, 117, 117);
}
.red{
  background: rgb(190, 46, 46);
  color: rgb(240, 214, 197);
}
.text-in-form{
  white-space: normal;
}
.simple-margin{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 5ps;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
